<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26184788553-61edbolceae0uc2tr03cfboi6071somj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26184788553-61edbolceae0uc2tr03cfboi6071somj</string>
	<key>API_KEY</key>
	<string>AIzaSyCwqU14hduau8SyIWmmwh8JeX-1ZMbQRy4</string>
	<key>GCM_SENDER_ID</key>
	<string>26184788553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agriunuion.agriunion</string>
	<key>PROJECT_ID</key>
	<string>agriunion-cc231</string>
	<key>STORAGE_BUCKET</key>
	<string>agriunion-cc231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26184788553:ios:b4a02897e585d5b2cd6d98</string>
</dict>
</plist>